#huss{
    background-image: url(./ChatGPT\ Image\ Nov\ 20\,\ 2025\,\ 09_50_42\ PM.png);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;

}